@charset "UTF-8";

$default-space: 0.9375rem;

@mixin body-text() {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
}

@mixin dire-background() {
	@include body-text();
	background-color: #2a2246;

	&:active, &:focus, &:hover {
		font-weight: bold;
		background: #3a3256;
	}
}

@mixin radiant-background() {
	@include body-text();
	background-color: #1d2722;
	
	&:active, &:focus, &:hover {
		font-weight: bold;
		background-color: #2d3732;
	}
}

body {
	@include body-text();
	min-width: 480px;
	cursor: auto;
	background: url("../images/layout/bg_body.jpg") #353745;
	background-size: cover;
	
	>.row {
		width: 62.5rem;
	}
}

/* PAGE */
#page {
	margin: 10px 0 20px;
	background: #ffffff;
	
	>.row {
		margin-bottom: $default-space;
		padding: 0 $default-space;
	}
}

/* HEADER */


#logo-container {
	padding-bottom: 0;
	
	#logo {
		display: block;
		max-height: 8%;
		margin: $default-space 0;
	}
}

#score {
	padding-right: 0;
	padding-bottom: 0;
	text-align: right;
	line-height: 87px;
	
	#score-correct {
		padding: 0 0 0 1rem;
	}
	
	#score-total {
		padding: 0 1rem 0 0;
	}
	
	#score-ratio {
		font-size: 1.6em;
		text-shadow: 1px 1px 1px #dedede;
		padding: 0 1rem 0 0;
	}
	
	#score-reset {
		cursor: pointer;
		margin: 0;
		padding: 8px 16px;
		color: #000;
		background: #bbb;
		
		&:hover, &:active {
			background: #ccc;
		}
	}
}

/* CONTENT */
.vote-dire, .vote-radiant {
	padding: $default-space;
	border: 2px solid #333333;
	
	&:hover {
		cursor: pointer;
	}
	
	li {
		padding-bottom: 0;
	}
	
	button {
		width: 72px;
		height: 72px;
		margin: 7px 0 0 0;
		padding: 0;
		box-shadow: 0 0 0.5em #000000;
	}
}

.vote-dire {	
	@include dire-background();
	
	button {
		background-color: #706a83;
		
		&:active, &:focus, &:hover {
			background-color: #8f87a4;
		}
	}
}

.vote-radiant {
	@include radiant-background();
	
	button {
		background-color: #365c55;
		
		&:active, &:focus, &:hover {
			background-color: #4b746c;
		}
	}
}

.heroes {
	.hero {
		position: relative;
		padding: 4%;
		background: #000000;
		border-radius: 8%;
		
		.inner {
			padding: 6%;
			background: #333333;
			border-radius: 4%;
		}
		
		img.portrait {
			width: 100%;
		}
		
		img.role {
			display: inline-block;
			width: 25%;
			margin: 0;
			padding: 0;
		}
		
		div.attribute {
			position: absolute;
			top: 2%;
			right: 2%;
			width: 20%;
			border-radius: 50%;
			background: #555;
			
			img {
				display: block;
				width: 100%;
				border-radius: 50%;
			}
		}
	}
}

#result-view {
	display: none;
	
	#result-navigation {
		text-align: center;
		
		li {
			padding: 0;
			line-height: 50px;
			
			&.button {
				background-color: #365c55;

				&:active, &:focus, &:hover {
					background-color: #4b746c;
				}
			}
			
			&.button.secondary {
				background-color: #706a83;

				&:active, &:focus, &:hover {
					background-color: #8f87a4;
				}
			
				a {
					display: block;
					width: 100%;
					height: 100%;
					color: #ffffff;
				}
			}
		}
	}
	
	#result {
		font-weight: 600;
		font-size: 1.6em;
	}
	
	#button-next-match {
		cursor: pointer;
	}
	
	table {
		width: 100%;
		
		.portrait {
			padding: 0;
			
			img {
				height: 34px;
			}
		}
		
		.hero {
			width: 45%;
		}
	}
}

#match-info-details {
	margin: 0;
	padding: 0;
	font-size: 2em;
	line-height: 2em;
	text-align: center;
	
	#match-mode {
		font-weight: 600;
	}
}

/* FOOTER */
#footer {
	clear: both;
	overflow: auto;
	margin: 0 0 $default-space;
	padding: 0 !important;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #ffffff;
	background: #333333;

	span.copyright {
		float: left;
	}

	a {
		display: inline-block;
		margin: 0 0 0 25px;
		padding: 0 5px;
		line-height: 25px;
		color: #ffffff;
	}
	a:hover {
		color: #cccccc;
	}

	img {
		margin: 0 0 0 30px;
	}
}