@charset "UTF-8";

$default-space: 0.9375rem;

@mixin body-text() {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
}

body {
	@include body-text();
	min-width: 480px;
	background: url("../images/layout/bg_body.jpg") #353745;
	background-size: cover;
}

/* PAGE */
#page {
	margin: 10px 0 20px;
	background: #ffffff;
}

/* HEADER */
#logo {
	display: block;
	margin: $default-space 0;
}

/* FOOTER */
#footer {
	clear: both;
	overflow: auto;
	margin: 0 0 $default-space;
	padding: 0 $default-space;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 25px;
	color: #ffffff;
	background: #333333;

	span.copyright {
		float: left;
	}
	
	a {
		display: inline-block;
		margin: 0 0 0 25px;
		padding: 0 5px;
		line-height: 25px;
		color: #ffffff;
	}
	a:hover {
		color: #cccccc;
	}
	
	img {
		margin: 0 0 0 30px;
	}
}

/* CONTENT */
.vote-dire,
.vote-radiant {
	@include body-text();
	
	#dire-heroes {
		background: red;
	}
	
	#radiant-heroes {
		background: green;
	}
	
	&.vote-dire:hover {
		@include body-text();
		font-weight: bold;
		
		#dire-heroes {
			background: orangered;
		}
	}
	
	&.vote-radiant:hover {
		@include body-text();
		font-weight: bold;
		
		#radiant-heroes {
			background: #608000;
		}
	}
	
	&.vote-radiant:active,
	&.vote-dire:active,
	&.vote-radiant:visited,
	&.vote-dire:visited,	{
		@include body-text();
	}
}


#dire-heroes, 
#radiant-heroes {
	margin: 0 0 $default-space;
	padding: $default-space;
	border: 2px solid black;
	
	li {
		width: 16.5%;
		max-width: 127px;
		padding: 0 $default-space 0 0;
		line-height: 100%;
	}
}