<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Foundation | Welcome</title>
	<link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/draftquiz.css" />
	<script src="js/vendor/modernizr.js"></script>
</head>
<body>
		
<div class="row">
	<div id="page" class="small-12 columns">
		<a id="logo" href="#"><img src="images/layout/logo.png" alt="Draft Quiz: Guess the winner from draft results" width="316" height="61" /></a>
		
		<nav id="navigation" class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name"></li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul>
					<li class="active"><a href="#">Play</a></li>
					<li><a href="#">Matches</a></li>
					<li><a href="#">Heroes</a></li>
					<li><a href="#">Statistics</a></li>
				</ul>
			</section>
		</nav>
		
		<div class="row">
			<div class="small-6 columns">
				Radiant
			</div>
			<div class="small-6 columns">
				Dire
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">
				<span class="attribution right">Original by</span>
				<div id="footer">
					<span class="copyright">&copy 2014 Draft Quiz</span>
					<img class="right" src="images/layout/designer.png" alt="Demirev Design" width="53" height="25" />
					<a href="#">Play</a>
					<a href="#">Matches</a>
					<a href="#">Heroes</a>
					<a href="#">Statistics</a>
				</div>
			</div>
		</div>
	</div>
</div>
		
	<script src="js/vendor/jquery.js"></script>
	<script src="js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>