body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	background: url("../images/layout/bg_body.jpg") #353745;
	background-size: cover;
}

/* PAGE */
#page {
	margin: 10px 0 20px;
	background: #ffffff;
}

/* HEADER */
#logo {
	display: block;
	margin: 0.9375rem 0;
}
#navigation.top-bar {
	height: 49px;
	margin: 0 0 0.9375rem;
}
#navigation.top-bar.expanded {
	height: auto;
}
#navigation ul li {
	margin: 2px 2px 2px 0;
}
#navigation ul li.menu-icon {
	margin: -16px 0 0 0;
}
#navigation ul li a {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
#navigation ul li.active a,
#navigation ul li a:hover {
	background: #e53222 url("../images/layout/bg_navigation.png") repeat-x;
}

/* FOOTER */
span.attribution {
	display: inline-block;
	width: 65px;
	font-size: 10px;
	line-height: 18px;
	color: #333333;
}
#footer {
	clear: both;
	margin: 0 0 0.9375rem;
	padding: 0 0.9375rem;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #333333;
}
#footer span.copyright {
	float: left;
}
#footer a {
	display: inline-block;
	margin: 0 0 0 25px;
	padding: 0 5px;
	line-height: 25px;
	color: #ffffff;
}
#footer a:hover {
	color: #cccccc;
}
#footer img {
	margin: 0 0 0 30px;
}

/* CONTENT */
#dire-heroes, #radiant-heroes {
	border: 1px solid black;
	border-radius: 10px;
	padding-top: 0;
	padding-left: 30px;
	padding-top: 10px;
	margin: 10px 0px;
	height: 105px;
	box-shadow: #000 2px 2px 3px;
}

#dire-heroes li, #radiant-heroes li {
	border-radius: 15px;
}

li div.heroContainer {
	border: 3px solid #000;
	border-radius: 5px;
	color: #bbb;
	font-size: 0.7em;
	font-weight: 600;
	width: 127px;
	padding: 3px;
	background-image: url('../images/layout/grain_bg.png');
	box-shadow: #111 1px 1px 5px;
	position: relative;
}


li div.heroContainer img.heroAttr {
	position: absolute;
	right: -7px;
	top: -7px;
	width: 25px;
	height: 25px;
}

li div.heroContainer div.heroBorder {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	/*background-image: url('../images/layout/grain_bg.png');*/
}

li div.heroContainer div.heroBorder img {
	border-radius: 5px;
}

li div.heroLabel {
	font-family: georgia;
	text-shadow: 1px 1px #000;
	background: transparent;
	margin-top: -3px;
	padding-bottom: 6px;
	line-height: 1em;
	z-index: -1;
	width: 108px;
	overflow: hidden;
	white-space:nowrap;
	display: none;
}


#radiant-heroes, #guessButtons li#guessRadiant {
	background-image: url('../images/layout/smoke_mist.jpg');
}

#dire-heroes, #guessButtons li#guessDire {
	background-image: url('../images/layout/smoke_misty_backdrop.jpg');
	background-position: right bottom;
}

#guessButtons li#guessDire, #guessButtons li#guessRadiant {
	text-align: center;
	padding-top: 0.5em;
	height: 2.5em;
	color: #eee;
	font-size: 1.3em;
	text-shadow: 2px 2px 3px #000;
	text-transform: uppercase;
	border-radius: 10px;	
	box-shadow: #000 2px 2px 3px;
	border: 1px solid #000;
	margin: 15px 0px;
}